.footer {
    // margin-top: 140px;
    position: fixed;
    bottom: 0%;
    background-color: #2E1D1E;
    color: #FFFFFF;
    height: 50px;
    display: flex;
    width: 100%;
    


    align-items: center;
    padding-left: 170px;
   
}